In [104]:
import pandas as pd
import numpy as np
import joblib

In [105]:
df = pd.read_csv("Example.csv")

In [106]:
df

,Date,Average of temp,Average of feels_like,Average of temp_min,Average of temp_max,Average of pressure,Average of humidity,Sum of rain_1h,Average of wind_speed,Average of wind_gust
0,5/1/2022,55.726545,54.269091,51.838545,59.748000,1019.745455,78.054545,0.000000,8.078727,0.000000
1,5/2/2022,59.562731,59.003231,55.395154,64.157000,1008.696154,80.511538,2.925385,5.361269,8.770154
2,5/3/2022,56.586000,55.759955,52.648000,60.011682,1018.745455,81.204545,3.159091,7.762318,0.000000
3,5/4/2022,62.614429,62.233714,59.710429,65.549857,1014.671429,77.842857,0.031429,6.113714,10.581774
4,5/5/2022,46.451167,44.669083,42.392000,50.338000,1022.116667,89.108333,0.321667,4.920667,0.000000
5,5/6/2022,62.540708,62.192250,59.499792,66.441167,1016.720833,78.162500,1.286667,6.160292,7.833611

In [107]:
times = pd.to_datetime(df["Date"])
times.dt.dayofweek

0    6
1    0
2    1
3    2
4    3
5    4
Name: Date, dtype: int64

In [108]:
def prep_data_random_forest(df):
    dow = times.dt.dayofweek
    df["Month"] = times.dt.month
    df["Year"] = times.dt.year % 2000
    # add summer variable
    df["is_summer"] = 0
    df["is_summer"] = np.where((df["Month"].isin([6,7,8])), 1, 0)
    # one hot encoding for DOW
    df["Tuesday"] = 0
    df["Wednesday"] = 0
    df["Thursday"] = 0
    df["Friday"] = 0
    df["Saturday"] = 0
    df["Sunday"] = 0

    for i in df.index:
        if dow[i] == 6:
            df.loc[i, "Sunday"] = 1
        elif dow[i] == 1:
            df.loc[i, "Tuesday"] = 1
        elif dow[i] == 2:
            df.loc[i, "Wednesday"] = 1
        elif dow[i] == 3:
            df.loc[i, "Thursday"] = 1
        elif dow[i] == 4:
            df.loc[i, "Friday"] = 1
        elif dow[i] == 5:
            df.loc[i, "Saturday"] = 1
    df = df.drop(columns=["Date"])
    return df

In [109]:
df = prep_data_random_forest(df)
df

,Average of temp,Average of feels_like,Average of temp_min,Average of temp_max,Average of pressure,Average of humidity,Sum of rain_1h,Average of wind_speed,Average of wind_gust,Month,Year,is_summer,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,55.726545,54.269091,51.838545,59.748000,1019.745455,78.054545,0.000000,8.078727,0.000000,5,22,0,0,0,0,0,0,1
1,59.562731,59.003231,55.395154,64.157000,1008.696154,80.511538,2.925385,5.361269,8.770154,5,22,0,0,0,0,0,0,0
2,56.586000,55.759955,52.648000,60.011682,1018.745455,81.204545,3.159091,7.762318,0.000000,5,22,0,1,0,0,0,0,0
3,62.614429,62.233714,59.710429,65.549857,1014.671429,77.842857,0.031429,6.113714,10.581774,5,22,0,0,1,0,0,0,0
4,46.451167,44.669083,42.392000,50.338000,1022.116667,89.108333,0.321667,4.920667,0.000000,5,22,0,0,0,1,0,0,0
5,62.540708,62.192250,59.499792,66.441167,1016.720833,78.162500,1.286667,6.160292,7.833611,5,22,0,0,0,0,1,0,0

In [110]:
loaded_model = joblib.load("RF_5_16.joblib")

C:\Users\huawe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator DecisionTreeRegressor from version 0.24.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\huawe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator RandomForestRegressor from version 0.24.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [111]:
loaded_model.predict(df)

C:\Users\huawe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

array([25.0097722 , 23.90565859, 25.26125079, 23.62734167, 24.80782384,
       25.76242487])

								snow_1h	federal_holiday_flag	school_holiday_flag
		Average of feels_like